[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "agents/.config/omarchy/plugins/io.github.viganogabriele.agent-usage-plus"]
	path = agents/.config/omarchy/plugins/io.github.viganogabriele.agent-usage-plus
	url = git@github.com:viganogabriele/agent-usage-plus.git
[submodule "kdeconnect/.config/omarchy/plugins/io.github.viganogabriele.kdeconnect-iphone"]
	path = kdeconnect/.config/omarchy/plugins/io.github.viganogabriele.kdeconnect-iphone
	url = git@github.com:viganogabriele/kdeconnect-iphone.git
[submodule "notes/.config/omarchy/plugins/io.github.viganogabriele.omanote-plus"]
	path = notes/.config/omarchy/plugins/io.github.viganogabriele.omanote-plus
	url = git@github.com:viganogabriele/omanote-plus.git
